:root
{
	--blue: #0082c9;
	--indigo-dye: #014c75ff;
	--indigo-dye-2: #014368ff;
	--indigo-dye-3: #013b5bff;
	--prussian-blue: #01324eff;
	--prussian-blue-2: #012a41ff;
	--prussian-blue-3: #002234ff;
	--rich-black: #001927ff;
	--rich-black-2: #00111aff;
	--rich-black-3: #00080dff;
}